#ignore all files
*
!*/

#except the following files
!.gitignore
!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.build
!.vscode/*.json

!*.go
!*.lua

!*.cs
!*.csproj
!*.resx

!*.hlsl
!*.fragment

!*.md

!*.ini
!*.bat
!*.sh

#except the following folders
